@page "/Breaks"
@inject HttpClient Http
@inject NavigationManager NavManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h3>Breaks</h3>
<div class="row">
	@if (breaks == null)
	{
		<p><em>Loading...</em></p>
	}
	else
	{
		@foreach (var groupBreak in breaks)
		{
			var breakID = groupBreak.breakId;
			<div class="col-md-4 col-sm-6 col-xs-6">
				<b>
					@groupBreak.breakName
				</b>
				<p> <img class="grid-img" src="@groupBreak.breakImageURL" /></p>

				@if (groupBreak.completed)
				{
					<p><b>Completed</b></p>
				}
				else
				{
					<p> @groupBreak.currentUsers / @groupBreak.maxUsers spots filled</p>
				}
				<p>$@groupBreak.breakPrice</p>
				@if (@groupBreak.currentUsers == @groupBreak.maxUsers)
				{
					<p><button type="button" class="btn btn-primary" @onclick="(() => ViewBreakResults(breakID))">View Results</button></p>
				}
				else
				{
					<p><button type="button" class="btn btn-primary" @onclick="(() => JoinBreak(breakID))">Join Break</button></p>
				}

			</div>
		}

	}
</div>
<div class="row resetButton">
	<button type="button"  class="btn btn-primary" @onclick="resetBreaks">Reset Breaks</button>
</div>
@code {
	private List<Break> breaks;
	User loggedInUser;

	protected override async Task OnInitializedAsync()
	{
		loggedInUser = await localStorage.GetItemAsync<User>("loggedInUser");
		if (loggedInUser != null && loggedInUser.breaks != null)
		{
			breaks = loggedInUser.breaks;
		}
		else
		{
			breaks = await Http.GetFromJsonAsync<List<Break>>("sample-data/breaks.json");
			if (loggedInUser != null)
			{
				loggedInUser.breaks = breaks;
			}
			await localStorage.SetItemAsync("loggedInUser", loggedInUser);
		}
	}

	protected async Task resetBreaks()
	{
		breaks = await Http.GetFromJsonAsync<List<Break>>("sample-data/breaks.json");
		if (loggedInUser != null)
		{
			loggedInUser.breaks = breaks;
			loggedInUser.portfolio = null;
			loggedInUser.withdraw = null;
		}
		await localStorage.SetItemAsync("loggedInUser", loggedInUser);
		StateHasChanged();
	}

	private void JoinBreak(string breakID)
	{
		if (loggedInUser != null)
		{
			NavManager.NavigateTo($"/Break/{breakID}");
		}
		else
		{
			NavManager.NavigateTo($"/Account/Login");
		}
	}

	private void ViewBreakResults(string breakID)
	{
		if (loggedInUser != null)
		{
			Break currentBreak = breaks.Where(b => b.breakId == breakID).FirstOrDefault();
			NavManager.NavigateTo($"/BreakResults/{breakID}");
		}
		else
		{
			NavManager.NavigateTo($"/Account/Login");
		}
	}
}
